.carouselRow {
  padding-bottom: 6px;
}

.carouselImageWrapper {
  min-width: 260px;
  width: 260px;
  cursor: pointer;
}

.carouselImage {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-gray-3);
}

.fullImageModal {
  :global(.mantine-Modal-content) {
    position: relative;
    overflow: hidden;
    max-height: unset;
  }
  :global(.mantine-Modal-inner) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
