@use '../styles/variables' as vars;

.mainLayout {
  display: flex;
  @media (max-width: vars.$breakpoint-sm) {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
}

.userDrawer {
  section {
    height: auto;
  }
}

.notificationsDrawer {
  section {
    // Мобильная логика: если экран меньше $breakpoint-sm, перемещаем header вниз
    @media (max-width: vars.$breakpoint-sm) {
      display: flex;
      flex-direction: column;
      justify-content: end;
      overflow-y: hidden;
      header {
        order: 2; // заголовок вниз
        border-top: 1px solid grey;
        border-radius: 8px;
      }
      :global(.mantine-Drawer-body) {
        height: inherit;
        padding: 1rem 0 0 0;
        order: 1;
        overflow-y: hidden;
      }
      // Отдельно применяем к верхнему Stack-root
      :global(.mantine-Drawer-body > .mantine-Stack-root) {
        max-height: 100%;
        overflow-y: scroll;
        padding-bottom: 3rem;
      }
    }
  }
}
