@use '../../app/styles/variables.scss' as vars;

.adminContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  .pulseIcon {
    display: inline-block;
  }

  .pulseIcon[aria-expanded='false'] {
    animation: pulse 1.2s infinite ease-in-out;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
  }
}

.tableWrapper {
  background-color: var(--mantine-color-background); // адаптивный фон
  border-radius: 12px;
  box-shadow: var(--mantine-shadow-md); // тень из темы
  overflow-x: auto;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: var(--mantine-shadow-lg);
  }

  table {
    width: 100%;
    table-layout: fixed; /* фиксированные колонки */
    th,
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; /* чтобы длинный текст не переносился */
    }
  }

  .sortedAsc {
    outline: 2px dashed green;
    outline-offset: -2px; /* рамка не добавляет размер */
    border-radius: 6px;
  }

  .sortedDesc {
    outline: 2px dashed red;
    outline-offset: -2px;
    border-radius: 6px;
  }
}

.filtersPanel {
  @media (max-width: vars.$breakpoint-sm) {
    :global(.mantine-Accordion-content) {
      padding: 0.5rem;
    }
  }

  .textFilter {
    @media (max-width: vars.$breakpoint-sm) {
      gap: 0.5rem;
      div {
        max-width: unset;
      }
    }
  }

  .booleanFilter {
    @media (max-width: vars.$breakpoint-sm) {
      div {
        max-width: unset;
      }
    }
  }

  .filterAction {
    justify-content: flex-end;
    @media (max-width: vars.$breakpoint-sm) {
      justify-content: space-between;
      gap: 0;
      button {
        width: 50%;
      }
    }
  }
}
